@use 'reset';
@use 'base';
@use 'layout';
@use 'component';


.nav-list {
    font-family: base.$p-font;
    font-size: base.$font-size-nav-desktop;
    font-weight: base.$font-weight-h;
}

h1 {
    text-align: center;
    font-family: base.$heading-font;
    font-size: base.$font-size-h1-desktop;
    font-weight: base.$font-weight-h;
    line-height: base.$line-height-h;
}

p {
    text-align: center;
    font-family: base.$p-font;
    font-size: base.$font-size-p-desktop;
    font-weight: base.$font-weight-p;
    line-height: base.$line-height-p;
}


